1. Write a Python program to accept a string value from the user and display
the count of each character in that string. Sample input: Enter a string
value: assembly Sample output: a=1, s=2, e=1, m=1, b=1, l=1, y=1

In [ ]:
str1 = str(input('Enter the string :'))
tempStr = ''
for char in str1:
    if char not in tempStr:
        print(char, '=', str1.count(char),end=',')
        tempStr = tempStr+char

Enter the string :assembly
a = 1,s = 2,e = 1,m = 1,b = 1,l = 1,y = 1,

2. . Write a Python function to find the maximum of three numbers Sample
input: 34,12,7 Sample output: 34

In [ ]:
def find_maximum(a, b, c):
    return max(a, b, c)

num1 = int(input("Enter the first number :"))
num2 = int(input("Enter the second number :"))
num3 = int(input("Enter the third number :"))

result = find_maximum(num1, num2, num3)
print("The maximum number is : ", result)

Enter the first number :23
Enter the second number :12
Enter the third number :78
The maximum number is :  78

3. Write a Python function called exponent(base,exp) that returns an
integer value of base raises to the power of exp. Sample input: Enter the
base: 2 Enter the exponent: 3 Sample output: 8

In [ ]:
def exponent(base, exp):
    result = base ** exp
    return result

base_input = int(input("Enter the base: "))
exp_input = int(input("Enter the exponent: "))

result = exponent(base_input, exp_input)
print("Output : ",result)

Enter the base: 2
Enter the exponent: 3
Output :  8

4. Write a Python function that takes a positive integer and returns the sum
of the cube of all the positive integers smaller than the specified number.
Sample input: 4 Sample output: 36.

In [ ]:
def sum_cube(num):
  sum = 0
  for i in range(1,num):
    sum = sum+i**3
  return sum

num = int(input("Enter the number: "))
result = sum_cube(num)
print("Output : ",result)

Enter the number: 3
Output :  9

5. Write a Python program which iterates from 1 to 10. For multiples of 2,
print “Fizz” instead of the number and for the multiples of 5, print “Buzz”.
For numbers which are multiples of both 2 and 5, print “FizzBuzz”.
Sample input: numbers from 1 to 10 Sample output: 1 Fizz 3 Fizz Buzz
Fizz 7 Fizz 9 FizzBuzz

In [ ]:
output = ''
for i in range(1,11):
  if (i%2==0 and i%5==0):
    output = output+"FizzBuzz"
  elif i%2==0:
    output = output+"Fizz"
  elif i%5==0:
    output = output+"Buzz"
  else:
    output = output+str(i)
  output = output+" "
else:
  print(output)

1 Fizz 3 Fizz Buzz Fizz 7 Fizz 9 FizzBuzz

6. Write a Python program to find the most frequent item in a list of
numbers. Sample input: 2, 3, 4, 2, 5, 2 Sample output: 2

In [11]:
def most_frequent(list1):
	counter = 0
	freq = {}
	result =[]

#To make a dict with count

	for i in list1:
		if (i in freq):
			freq[i] += 1
		else:
			freq[i] = 1

	counter = max(zip(freq.values(), freq.keys()))[0] #To find largest count
#To find most frequent item .May be more than one item with same count
	for key,val in freq.items():
		if (counter==int(val)):
			result.append(key)
	return result


l = int(input('Enter length of the list :'))
list1 = []
for i in range(l):
  num = int(input("Enter the number : "))
  list1.append(num)

#List = [2, 3, 4, 2, 5, 2]
print("Most frequent item in the list is : ",most_frequent(list1))

Enter length of the list :6
Enter the number : 3
Enter the number : 2
Enter the number : 3
Enter the number : 2
Enter the number : 4
Enter the number : 5
Most frequent item in the list is :  [3, 2]

7. Write a Python program to find the sum of squares of the numbers in a
list. Sample input: 2,1,3,1 Sample output: 15

In [ ]:
def sum_squares(list1):
  sum=0
  for i in list1:
    sum = sum+i**2
  return sum

l = int(input('Enter length of the list :'))
list1 = []
for i in range(l):
  num = int(input("Enter the numbers : "))
  list1.append(num)
print("Sum of squares is : ",sum_squares(list1))

Enter length of the list :4
Enter the numbers : 2
Enter the numbers : 3
Enter the numbers : 4
Enter the numbers : 5
Sum of squares is :  54

8. Write a Python program using for loop that will iterate from 1 to 15. For
each iteration, check if the current number is odd or even, and display the
message to the screen as odd or even. Sample input: 1….15 Sample
output: 1-odd 2-even …. 15-odd

In [ ]:
for i in range(1,16):
  if i%2==0:
    print(i,"-Even")
  else:
    print(i,"-Odd")

1 -Odd
2 -Even
3 -Odd
4 -Even
5 -Odd
6 -Even
7 -Odd
8 -Even
9 -Odd
10 -Even
11 -Odd
12 -Even
13 -Odd
14 -Even
15 -Odd

9. Write a Python program to convert temperatures to and from Celsius
Fahrenheit. [Formula: c/5=f-32/9 where c=temperature in Celsius and f=
temperature in Fahrenheit.] Sample input: Temperature in Fahrenheit
=41 Sample output: Temperature in Celsius =5

In [ ]:
def celsius_to_fahrenheit(celsius):
    fahrenheit = (celsius * 9/5) + 32
    return fahrenheit

def fahrenheit_to_celsius(fahrenheit):
    celsius = (fahrenheit - 32) * 5/9
    return celsius

temperature_in_celsius = float(input("Enter temperature in celsius : "))
temperature_in_fahrenheit = celsius_to_fahrenheit(temperature_in_celsius)
print("Temperature in Fahrenheit : ",temperature_in_fahrenheit)

temperature_in_fahrenheit = float(input("Enter temperature in Fahrenheit : "))
temperature_in_celsius = fahrenheit_to_celsius(temperature_in_fahrenheit)
print("Temperature in Fahrenheit : ",temperature_in_celsius)

Enter temperature in celsius : 37
Temperature in Fahrenheit :  98.6
Enter temperature in Fahrenheit : 100
Temperature in Fahrenheit :  37.77777777777778

10. Write a Python function to calculate the factorial of a number (a
nonnegative integer). The function accepts the number as an argument.
Sample input: 3 Sample output: 6

In [ ]:
def factorial(n):
  if n<0:
    print("Enter a positive integer")
  elif n==0 or n==1:
    return 1
  else:
    fact = 1
    for i in range(2,n+1):
      fact *=i
    return fact

num = int(input("Enter the number : "))
print("Factorial = ",factorial(num))

Enter the number : 4
Factorial =  24